@font-face {
  font-family: OpenSans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: OpenSans, Arial, sans-serif;
}

.content {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  background: rgba(0, 0, 0, 0.4);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  position: relative;
  background: #fff;
  width: 400px;
  min-height: 600px;
  padding: 45px 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.question-block {
  margin-top: 30px;
}

#caption-feedback {
  font-size: 20px;
}

.question {
  font-size: 15px;
  margin-bottom: 10px;
}

.select {
  width: 100%;
  height: 55px;

  padding-left: 20px;
  padding-right: 25px;
  border: 1px solid #f4f7f6;
  background-color: #f4f7f6;

  font-size: 14px;
  color: #919292;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("..//svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 10px;
}

.select:focus {
  outline: 2px solid #e1d9bd;
}

.popup-clode {
  position: absolute;
  color: #fff;
  right: -3px;
  top: -57px;
  font-size: 3em;
}

.checkbox {
  display: none;
}

.radio-button {
  margin-right: 15px;
  font-size: 15px;
}

.radio-button::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;

  background-image: url("..//svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.checkbox:checked ~ .radio-button::before {
  background-image: url("..//svg/form-circle.svg");
}

.pitch {
  min-height: 150px;
  width: 100%;
  padding: 20px;
  margin: 0;
  border: 1px solid #f4f7f6;
  background-color: #f4f7f6;
  font-size: 14px;
  color: #919292;
  font-family: OpenSans, Arial, sans-serif;
  resize: none;
}

.pitch:focus {
  outline: 2px solid #e1d9bd;
  color: #181818;
}

#button-fitback {
  margin-top: 25px;
}

.header {
  position: relative;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
  background-color: #41504d;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  min-height: 450px;
  padding-bottom: 126px;
  z-index: 2;
}

.header::before {
  content: "";
  display: block;

  position: absolute;
  background-color: #000;

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  opacity: 0.6;
  z-index: 1;
}

.content-header {
  min-height: 450px;
}

.content-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding-top: 35px;
  font-size: 13px;
  z-index: 3;
}

.logo {
  width: 180px;
}

.nav {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}

.item:nth-child(n + 2) {
  margin-left: 55px;
}

.headline {
  position: relative;
  width: 665px;
  margin-top: 126px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #fff;
  font-size: 45px;
  z-index: 3;
  text-transform: uppercase;
}

.section-trends {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

#block-trends {
  font-size: 20px;
}

.section-trend {
  min-height: 320px;
  margin-top: 28px;
  display: flex;
  gap: 4px;
}

.trend {
  width: 25%;
  min-height: 320px;

  position: relative;
  background-color: #41504d;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  flex: auto;
}

.trend-garden {
  background-image: url("../images/trend1.jpg");
}

.trend-cheese {
  background-image: url("../images/trend2.jpg");
}

.trend-mountains {
  background-image: url("../images/trend3.jpg");
}

.trend-lemon {
  background-image: url("../images/trend4.jpg");
}

.trend::before {
  content: "";
  display: block;

  position: absolute;
  background-color: #000;

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  opacity: 0.6;
  z-index: 1;
}

.slogan {
  border: #716439 solid 3px;
  padding: 39px;
  z-index: 2;
  margin: 0px 16px 16px 16px;
}

.subtitle-trend {
  color: #716439;
}

.text-trend {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 15px;
}

.page {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.articl {
  display: flex;
  justify-content: space-between;
  max-width: 775px;
  margin-bottom: 60px;
}

.article {
  margin-left: 30px;
  max-width: 365px;
}

.image {
  width: 380px;
  align-self: flex-start;
}

.subtitle {
  display: inline;
  font-size: 14px;
  color: #b59f5b;
  text-transform: uppercase;
  font-weight: bold;
}

.subtitle:nth-child(n + 2) {
  margin-left: 20px;
}

time {
  font-size: 12px;
}

.author {
  display: inline;
  font-size: 12px;
  margin-left: 16px;
}

.text {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 16px;
}

.holder {
  margin-bottom: 40px;
}

.preview {
  margin-bottom: 30px;
}

.block {
  max-width: 285px;
}

.subtitle-block {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
}

.subtitle-block::after {
  content: "";
  display: block;
  width: 66px;
  margin: 0 auto;
  padding-top: 10px;
  border-bottom: 3px solid #e1d9bd;
}

.holder-side {
  display: flex;
  margin-top: 28px;
  max-height: 70px;
}

.picture {
  margin-right: 18px;
  align-self: flex-start;
  max-width: 285px;
}

.subtitle-side {
  display: block;
  font-size: 14px;
  margin-top: 1px;
  text-transform: uppercase;
}

.search {
  position: relative;
  margin-top: 60px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.input-box {
  box-sizing: border-box;
  display: inline-block;
  width: 238px;
  height: 47px;
  border: 1px solid #f4f7f6;
  background-color: #f4f7f6;
  color: #919292;
  padding-left: 19px;
  outline: none;
  font-size: 13px;
}

.button {
  position: absolute;
  width: 47px;
  height: 47px;
  border: 1px solid #b59f5b;
  background-color: #b59f5b;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}

.newsletter-block {
  margin-top: 60px;
}

.newsletter {
  margin-top: 22px;
}

.input-subscription {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 47px;
  border: 1px solid #f4f7f6;
  background-color: #f4f7f6;
  color: #919292;
  padding-left: 19px;
  outline: none;
  font-size: 13px;
}

.button-subscription {
  display: inline-block;
  width: 100%;
  height: 47px;
  border: 1px solid #b59f5b;
  background-color: #b59f5b;
  color: #fff;
  margin-top: 18px;
  text-transform: uppercase;
  font-size: 14px;
  outline: none;
  font-weight: bold;
}

.tags {
  margin-top: 60px;
}

.tags-box {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 25px;
}

.tag {
  border: 3px solid #ededed;
  padding: 7px 15px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin-right: 5px;
  margin-bottom: 5px;
  list-style: none;
}

.topics {
  margin-top: 60px;
}

.topics-block {
  margin-top: 24px;
}

.topic-block {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 15px;
}

.topic {
  display: flex;
}

.topic-block:nth-child(n + 2) {
  margin-top: 20px;
}

.subtitle-topic {
  font-size: 14px;
}

.index {
  color: #b59f5b;
  font-weight: bold;
  padding-left: 5px;
  font-size: 12px;
  margin-top: -4px;
}

.block-products {
  display: flex;
  gap: 66px;
  margin-top: 30px;
  align-items: flex-start;
}

.сard-product {
  width: 33.33%;
  min-height: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-caption {
  border: solid 3px rgba(211, 197, 157, 0.6);
  text-align: left;
  min-height: 268px;
  padding-top: 55px;
  padding-bottom: 28px;
  margin-top: -35px;
}

.text-product {
  padding-left: 20px;
  padding-right: 20px;
}

.caption-product {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.subtitle-product {
  font-size: 15px;
}

.product {
  color: #bfac71;
}

.store-button {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 28px;
  align-items: center;
}

.price {
  font-size: 20px;
  font-weight: bold;
}

.crossed-out {
  text-decoration: line-through;
  font-size: 15px;
}

#product-button {
  width: 140px;
  height: 48px;
  margin-top: 0;
}

.footer {
  padding: 35px 0px;
  background-color: #f4f7f6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.socials {
  width: 112px;
  height: 20px;
  justify-content: space-between;
  display: flex;
}

.socials-link {
  display: flex;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  width: 20px;
  height: 20px;
}

.socials-link-dribbble {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg");
}

.socials-link-pinterest {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg");
}

.socials-link-twitter {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
}

.rights {
  margin-top: 70px;
  margin-bottom: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #999999;
}

@media (min-width: 1200px) {
  .menu {
    display: none;
  }

  .logo-mobile {
    display: none;
  }
}

@media (min-width: 710px) and (max-width: 1199px) {
  .content {
    width: 698px;
    margin: 0 auto;
    padding: 0;
  }

  .content-nav {
    display: flex;
  }

  .logo-mobile {
    display: none;
  }

  .menu {
    display: flex;
    width: 23px;
    height: 19px;
  }

  .nav {
    display: none;
  }

  .headline {
    font-size: 40px;
    display: flex;
  }

  .section-trend {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }

  .trend {
    width: 49%;
    margin-right: 0;
  }

  .trend:nth-child(2n + 1) {
    margin-right: 4px;
  }

  .trend:nth-child(n + 3) {
    margin-top: 4px;
  }

  .articl {
    flex-direction: column;
  }

  .article {
    margin-left: 0;
    margin-top: 16px;
  }

  .page {
    margin-top: 50px;
  }

  .block-products {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
  }

  .сard-product {
    width: 49%;
  }

  .сard-product:nth-child(2n + 1) {
    margin-right: 13px;
  }

  .сard-product:nth-child(n + 3) {
    margin-top: 13px;
  }

  .footer {
    margin-top: 60px;
    padding: 35px 0px;
  }
}

@media (min-width: 641px) and (max-width: 709px) {
  .content {
    width: 650px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
  }
  .content-nav {
    display: flex;
  }

  .logo-mobile {
    display: none;
  }

  .menu {
    display: flex;
    width: 23px;
    height: 19px;
  }

  .nav {
    display: none;
  }

  .headline {
    font-size: 40px;
    width: 450px;
  }

  .section-trend {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }

  .trend {
    width: 49%;
    margin-right: 0;
  }

  .trend:nth-child(2n + 1) {
    margin-right: 4px;
  }

  .trend:nth-child(n + 3) {
    margin-top: 4px;
  }

  .articl {
    flex-direction: column;
  }

  .article {
    margin-left: 0;
    margin-top: 16px;
  }

  .image {
    width: 330px;
  }

  .page {
    margin-top: 50px;
  }

  .block-products {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
  }

  .сard-product {
    width: 48.98%;
  }

  .сard-product:nth-child(2n + 1) {
    margin-right: 13px;
  }

  .сard-product:nth-child(n + 3) {
    margin-top: 13px;
  }

  .footer {
    margin-top: 60px;
    padding: 35px 0px;
  }
}

@media (max-width: 640px) {
  .content {
    width: 330px;
    padding: 0;
    margin: 0 auto;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center center;
  }

  .content-nav {
    display: flex;
  }

  .nav {
    display: none;
  }

  .logo {
    display: none;
  }

  .logo-mobile {
    margin-bottom: 45px;
    width: 270px;
  }

  .headline {
    width: 290px;
    font-size: 26px;
  }

  .section-trend {
    display: flex;
    flex-wrap: wrap;
  }

  .trend {
    width: 100%;
  }

  .page {
    flex-direction: column;
  }

  .articles {
    margin-top: 45px;
  }

  .articl {
    flex-direction: column;
  }

  .article {
    margin-left: 0;
    margin-top: 16px;
  }

  .image {
    width: 330px;
  }

  .products {
    margin-top: 45px;
  }

  .block-products {
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
  }

  .сard-product {
    width: 100%;
  }

  .footer {
    margin-top: 60px;
    padding: 35px 0px;
  }
}
